
<div id="myProducts-page-title">
  <h1>Products for <%= currentUser.email %></h1>
</div>


<button id="delete-products" class="btn btn-sm btn-danger disabled">
  <span class="glyphicon glyphicon-trash"></span>
</button>  

<button type="button" id="upload-products" class="btn btn-success btn-sm">
  Upload New Products
</button>

<div id="file-input" class="hidden">
  <input type="file" id="file-upload" onchange="loadFile(event)" class="form-control" name="myFile">
  <button type="button" id="cancel-upload" class="btn btn-danger btn-sm"> 
  Cancel
  </button>
</div>

<table class="table product-table table-striped">
  <tr class="header-row">
    <th class="col-delete"> 
      <input type="checkbox" id="selectAll" class="checkbox"></input>
    </th>
    <th class="col-name"> Product Name </th>
    <th class="col-description"> Product Description </th>
    <th class="col-brand"> Brand </th>
    <th class="col-color"> Color </th>
    <th class="col-size"> Size </th>
    <th class="col-UPC"> UPC </th>
    <th class="col-gender"> Gender </th>
    <th class="col-coo"> Country of Origin </th>
    <th class="col-vendorSKU"> Vendor SKU </th>
    <th class="col-cost"> Cost </th>
    <th class="col-retail"> Retail </th>
    <th class="col-MSRP"> MSRP </th>
  </tr>
    <% products.forEach(function(product) { %>
      <% var styleColor = product.styleColor %>
      <% var styleFamily = product.styleColor.styleFamily %>

      <tr> 
        <td class="col-delete"> <input type="checkbox" id="<%= product.id %>" class="checkbox"></input>
        </td>
        <td class="col-name"> <%= product.productName %> </td>
        <td class="col-description ellipsis"> <%= styleColor.description %> </td>
        <td class="col-brand"> <%= styleFamily.brand %> </td>
        <td class="col-color"> <%= styleColor.color %> </td>
        <td class="col-size"> <%= product.size %> </td>
        <td class="col-UPC"> <%= product.UPC %> </td>
        <td class="col-gender"> <%= styleColor.gender %> </td>
        <td class="col-coo"> <%= styleColor.countryOfOrigin %> </td>
        <td class="col-vendorSKU"> <%= product.vendorSKU %> </td>
        <td class="col-cost"> <%= product.cost %> </td>
        <td class="col-retail"> <%= product.retail %> </td>
        <td class="col-MSRP"> <%= product.MSRP %> </td>
      </tr>

  <% }) %>

</table>

<% include upload-products.ejs %>


 